<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>

    <!-- Importar CSS e fontes -->
    <link rel="stylesheet" href="/css/agenda.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <!-- Menu de Navegação -->
    <section class="navigation-menu">
        <nav class="menu">
            <ul>
                <li><a href="/tutores-e-animais">Cadastros</a></li>
                <li><a href="/tutores/buscar">Procurar</a></li>
                <li><a href="#">Agendar</a></li>
            </ul>
        </nav>
        <div class="menu-infos">
            <button class="botao botao-pequeno">Sair</button>
            <div class="icon icon-pequeno">
                <img src="/images/user-icon.png" alt="Ícone de Usuário">
            </div>
        </div>
    </section>

    <!-- Calendário e Formulário -->
    <main>
        <section class="agenda">
            <div id="calendar"></div>
        </section>

        <section class="formulario-agendamento">
            <h1>Agendar Consulta</h1>

            <form action="/agendamentos" method="POST">
                <p>Data selecionada: <span id="selectedDate">Nenhuma data selecionada</span></p>
                <input type="hidden" id="dataHora" name="dataHora" required>
                
                <div class="">
                    <label for="tutor">Nome do Tutor:</label>
                    <input type="text" id="tutor" name="tutor" placeholder="Nome do tutor" required>
                </div>
                <div class="">
                    <label for="animal">Nome do Animal:</label>
                    <input type="text" id="animal" name="animal" placeholder="Nome do animal" required>
                </div>
                <div class="">
                    <label for="motivo">Motivo do Agendamento:</label>
                    <input type="text" id="motivo" name="motivo" placeholder="Motivo do agendamento" required>
                </div>
                
                <button type="submit">Criar</button>
            </form>
        </section>
    </main>
</body>
</html>
