<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Núcleo Bageense de Proteção aos Animais</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <main>
        <section class="login">
            <div class="icon">
                <img src="/images/user-icon.png" alt="Ícone de Usuário" />
            </div>
            <h2>Login</h2>
            <form action="/login" method="POST">
                <input type="text" name="name" placeholder="Nome" required />
                <input type="password" name="senha" placeholder="Senha" required />
                <button type="submit" class="botao">ENTRAR</button>
            </form>
        </section>
    </main>
</body>
</html>